.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header, .App {
  background-color: #ebeef5;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: rgb(41, 32, 32);
}
.generator{
    max-width: 60%; 
    margin: 40px auto;
}
.text-area{
    width: 100%; 
    text-align: center; 
    resize: none;
    margin: 10px auto; 
    padding: 10px auto; 
}
.generate, .clipboard{
    border-radius:4px; 
    padding-right: 10px; 
    padding-left: 10px;
}
.clipboard{  
    background-color: silver; 
    color:white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
